<section class="share share--bar">
    <h3 class="share--title">Share this page</h3>
    <ul class="share--list">
        <li>
            <a class='share--social-link skycon--colour__hover' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue'>
                <i aria-hidden=true class='skycon skycon--facebook'></i><span class="share--name">Facebook</span>
            </a>
        </li>
        <li>
            <a class='share--social-link skycon--colour__hover'  target='_blank' href='https://twitter.com/intent/tweet?url=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue&text=Sky.com Homepage'>
                <i aria-hidden=true class='skycon skycon--twitter'></i><span class="share--name">Twitter</span>
            </a>
        </li>
        <li >
            <a class='share--social-link skycon--colour__hover' target='_blank' href='https://plus.google.com/share?url=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue'>
                <i aria-hidden=true class='skycon skycon--google-plus'></i><span class="share--name">Google+</span>
            </a>
        </li>
        <li>
            <a class='skycon--colour__hover' target='_blank' href='mailto:?subject=Sharing - Sky.com Homepage&body=http%3A%2F%2Fwww.sky.com0%2Fhp%2F%3Fshared%3Dtrue'>
                <i aria-hidden=true class='skycon skycon--mail'></i><span class="share--name" >Mail</span>
            </a>
        </li>
    </ul>
</section>