<div class="demo-container">
<h1>Popup</h1>
    <div class="share share__popup clearfix">
        <a class="share__summary skycon--hover" href="#!" data-tracking-context="Shared article title" aria-label="Shared 146 times. Click to show share options">
            <i class="skycon skycon--share"></i><span class="share__word" aria-hidden="true">Share</span><span class="share__count share__count--main" aria-hidden="true">146</span>
        </a>
        <ul class="share__list share__list--popup">
            <li >
                <a class='share__social-link skycon--hover' target='_blank' href='https://twitter.com/intent/tweet?url=url-encoded-page-url&text=page-title'>
                    <i aria-hidden=true class='skycon skycon--twitter'></i><span class='speak '>Twitter</span>
                </a><span class='share__count'>137</span>
            </li>
            <li >
                <a class='share__social-link skycon--hover' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=url-encoded-web-addess'>
                    <i aria-hidden=true class='skycon skycon--facebook'></i><span class='speak '>Facebook</span>
                </a><span class='share__count'>5</span>
            </li>
            <li >
                <a class='share__social-link skycon--hover' target='_blank' href='https://plus.google.com/share?url=url-encoded-web-addess'>
                    <i aria-hidden=true class='skycon skycon--google-plus'></i><span class='speak'>Google+</span>
                </a><span class='share__count'>4</span>
            </li>
            <li >
                <a class='skycon--hover' target='_blank' href='mailto:?subject=page-title&body=url-encoded-web-addess'>
                    <i aria-hidden=true class='skycon skycon--mail'></i><span class='speak'>Mail</span>
                </a>
            </li>
        </ul>
    </div>

</div>